/* nav-bar */
#overlay {
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 99;
}

.row_1 {
    background-color: rgba(232, 230, 230, 0);
    height: 80px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#info_bar {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
}

.nav_bar {
    font-size: 20px;
    transform: translateX(50px);
    font-family: 'Finlandica', sans-serif;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    margin-right: 75px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    transition: all 2s;
    position: relative;
}

#sidebar_item {
    display: block;
    transition: all 2s;
    position: relative;
    text-transform: uppercase;
}

nav ul li a,
nav ul li a::after,
nav ul li a::before {
    transition: all .5s;
}

#sidebar_item,
#sidebar_item::after,
#sidebar_item::before {
    transition: all .5s;
}


nav ul li a:hover {
    color: rgb(0, 0, 0);
    z-index: 2;
}

#sidebar_item:hover {
    text-decoration: none;
    font-weight: 700;
}

nav ul li a:hover::after {
    z-index: -10;
    animation: fill .5s forwards;
    -webkit-animation: fill .5s forwards;
    -moz-animation: fill .5s forwards;
    opacity: 1;
}


nav ul li a::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background-color: rgb(13, 121, 6);
    height: 1px;
}

nav ul li a::after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

#sidebar_item {
    color: white;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    box-shadow: inset 10px 0 10px -5px #535d50;
    margin: 20px 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#sidebar_item:hover{
    box-shadow: inset 190px 0 30px 0 #194c0b;
    border-right: 2px solid white;
}

#mySidebar {
    display: none;
    width: 200px;
    left: 0;
    z-index: 100;
    font-size: 20px;
}

.sidebar {
    margin-top: 200px;
    background-color: black;
    color: white;
    padding: 10px 0;
}

#icon {
    color: black;
    padding-right: 10px;
}

.icon_link {
    margin-top: 10px;
    position: absolute;
    right: 5px;
}

#icon:nth-child(1):hover {
    color: rgb(59, 152, 239);
    font-size: 30px;
}

#icon:nth-child(2):hover {
    color: rgb(198, 38, 188);
    font-size: 30px;
}

#icon:nth-child(3):hover {
    color: rgb(214, 145, 6);
    font-size: 30px;
}

#icon:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(232, 230, 230, 0);
    position: absolute;
    margin-top: 7px;
}

.fa-solid {
    font-size: 15px;
}

@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 100%;
        height: 1px;
    }

    100% {
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
    }
}

/* header_banner */
.header_img img {
    width: 100%;
    height: 800px;
    box-shadow: 0 10px 20px 0;
}

.header_info {
    position: absolute;
    text-align: center;
    top: 250px;
    right: 200px;
    left: 200px;
}

#date {
    font-size: 20px;
}

.header_info h1 {
    color: white;
    font-size: 3em;
    display: block;
    font-family: 'The Nautigal', cursive;
    font-size: 100px;
}

.header_info button {
    font-size: 20px;
}

.btn-date:hover {
    background-color: black;
    border-radius: 0;
    border-bottom: 2px solid white;
}

/* about */

#about_heading {
    margin-top: 40px;
    margin-bottom: -30px;
    font-size: 100px;
    font-family: 'The Nautigal', cursive;
}

#info_bar {
    padding: 5px;
    margin-top: 21px;
    border-radius: 100px;
    color: white;
}

#about_img {
    height: 250px;
    width: 350px;
    margin-left: 80px;
    margin-top: 20px;
}

.about_content {
    background-color: rgb(227, 223, 223);
    border-radius: 50px;
    box-shadow: 0 5px 20px 0;
}

#about h3 {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

.about_content p {
    font-family: 'Indie Flower', cursive;
}


/* footer */

#footer {
    margin-top: 100px;
    background-color: rgb(48, 47, 47);
    height: 80px;
    width: 100%;
}

#footer_logo {
    width: 5%;
    height: 50%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.contact {
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    line-height: 15px;
}

#contact_h1 {
    font-family: 'The Nautigal', cursive;
    float: right;
    margin-right: 10%;
    font-size: 70px;
}

#copyright {
    font-weight: 700;
    padding-left: 40%;
    margin: 0 auto;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 80px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 100px;
}

#topBtn:hover {
    background-color: rgb(40, 121, 36);
}

::-webkit-scrollbar {
    display: none;
}

.icon {
    display: none;
    margin-right: 30px;
}

.icon:hover {
    color: rgb(6, 101, 6);
}
.menu-2{
    display: none;
}


@media (max-width:600px){
    #footer_logo{
        width: 10%;
        margin-top: 15px;
    }
    .header_info h1{
        font-size: 5em;
        margin-left: -100px;
    }
    .flex{
        display: flex;
        flex-direction: column-reverse;
    }
    .flex-2{
        display: flex;
        flex-direction: column;
    }
    .about_content{
        width: 100%;
    }
    #contact_h1{
        font-size: 25px;
        padding-top: 15px;
        margin-right: 15px;
    }
    .contact{
        font-size: 10px;
        line-height: 10px;
    }
    #footer{
        height: 65px;
    }
    #copyright{
        margin-left: -15%;
    }
}